<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>

	<!-- Sección principal -->
	<section class="jumbotron text-center">
		<div class="container">
			<h1 class="jumbotron-heading"><font color="Blue" face="georgia">Bienvenido a Car-Center</font></h1>
			<p class="lead text-muted"><font color="Black" face="arial"> El mejor lugar destinado para la compra y venta de tus vehiculos.</font></p>
			<p>
				<a href="#" class="btn btn-primary my-2"><font color="white" face="cambria italic">Ver productos</font></a>
				<a href="#" class="btn btn-secondary my-2"><font color="white" face="cambria italic">Ver Carrito</font></a>
			</p>
		</div>
	</section>

	<!-- Sección de productos destacados -->
	<section class="container my-5">
		<h2 class="text-center"><font color="white" face="georgia">Vehiculos más vendidos</font></h2>
		<div class="row mt-4">
			<div class="col-md-4">
				<div class="card">
					<img class="card-img-top" src="https://www.mustangspecs.com/wp-content/uploads/2020/08/Ford-Mustang-Pictures.jpg" alt="Card image cap">
					<div class="card-body">
						<h5 class="card-title">Mustang</h5>
						<p class="card-text">$150,000</p>
						<a href="#" class="btn btn-secondary my-2">Más Información</a>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="card">
					<img class="card-img-top" src="https://i.pinimg.com/originals/59/e3/d6/59e3d6b181d55346dc3d36d77685fce0.jpg" alt="Card image cap">
					<div class="card-body">
						<h5 class="card-title">Camaro</h5>
						<p class="card-text">$300,000</p>
						<a href="#" class="btn btn-secondary my-2">Más Información</a>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="card">
					<img class="card-img-top" src="https://queautocompro.com/wp-content/uploads/2021/08/nissanz202306.jpg" alt="Card image cap">
					<div class="card-body">
						<h5 class="card-title">Maseratti</h5>
						<p class="card-text">2,500,000</p>
						<a href="#" class="btn btn-secondary my-2">Más Información</a>
					</div>
				</div>
			  </div>
            </div>
          </section>
</body>
</html>