<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car-Center</title>
    <!-- Tailwind CSS Link -->
    <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.0.1/tailwind.min.css">
    <!-- Fontawesome Link -->
    <link href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" rel="stylesheet">
  </head>
  <body class="bg-gray-800">
    <nav class="flex py-3 bg-gray-300 text-white px-8">
      <div class="w-1/2 px-12 mr-auto">
        <h1 class="text-2x1 font-bold">Car-Center</h1>
      </div>
      <ul class="w-1/2 px-16 ml-auto flex justify-end pt-1">
        {{#if name}}
          <p>{{name}}</p>
          <li class="nav-item px-4">
            <a rel="stylesheet" href="/logout" class="nav-link font-semibold border-2 border-purple hover:bg-white hover:text-black-700 py-3
              px-4 rounded-md">Logout</a>
          </li>
        {{else}}
          <li class="nav-item px-4">
            <a rel="stylesheet" href="/login" class="nav-link font-semibold border-1 border-purple hover:bg-blue hover:text-black-700 py-3
              px-4 rounded-md">Login</a>
          </li>
          <li class="nav-item px-4">
            <a rel="stylesheet" href="/register" class="nav-link font-semibold border-1 border-purple hover:bg-blue hover:text-white-700 py-3
              px-4 rounded-md">Register</a>
          </li>
        {{/if}}
      </ul>
    </nav>
    {{{body}}}
  </body>
</html>